<h1>Listing ongoings</h1>

<table>
  <tr>
    <th>Game</th>
    <th>User Id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ongoings.each do |ongoing| %>
  <tr>
    <td><%= ongoing.game_id %></td>
    <td><%= ongoing.user_id %></td>
    <td><%= link_to 'Show', ongoing %></td>
    <td><%= link_to 'Edit', edit_ongoing_path(ongoing) %></td>
    <td><%= link_to 'Destroy', ongoing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ongoing', new_ongoing_path %>
