<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @ongoing.game_id %>
</p>

<p>
  <b>User Id:</b>
  <%= @ongoing.user_id %>
</p>


<%= link_to 'Edit', edit_ongoing_path(@ongoing) %> |
<%= link_to 'Back', ongoings_path %>
